<form [formGroup]="resetForm2" (ngSubmit)="onSubmit()">
    <div class="form-group">
        <mat-form-field>
            <input matInput formControlName="code" placeholder="Code">
            <mat-icon color="warn" class="form-warning-icon" [matTooltip]="errorTips['code']" *ngIf="resetForm2.controls['code'].touched && !resetForm2.controls['code'].valid">error_outline</mat-icon>
        </mat-form-field>
        <mat-form-field>
            <input type="password" matInput formControlName="newPassword" placeholder="New Password">
            <mat-icon color="warn" class="form-warning-icon" [matTooltip]="errorTips['newPassword']" *ngIf="resetForm2.controls['newPassword'].touched && !resetForm2.controls['newPassword'].valid">error_outline</mat-icon>
        </mat-form-field>
    </div>

    <div class="form-button-row">
        <button mat-raised-button type="submit" color="primary" [disabled]="resetForm2.pristine || !resetForm2.valid">Submit</button>
        <!-- <button mat-raised-button type="reset" [disabled]="resetForm2.pristine" (click)="revert()">Reset</button> -->
        <button mat-raised-button type="reset" (click)="cancel()">Cancel</button>
    </div>
</form>




<!-- 
<form class="form-signin" method="POST" action="#" role="form">
    <div class="form-group">
        <h2>Forgot Password</h2>
    </div>
    <div *ngIf="errorMessage!=null" class="alert alert-danger">
        {{ errorMessage }}
    </div>
    <div class="form-group">
        <label class="control-label" for="verificationCode">Verification Code</label>
        <input id="verificationCode" type="verificationCode" maxlength="50" class="form-control"
               [(ngModel)]="verificationCode" [ngModelOptions]="{standalone: true}">
    </div>
    <div class="form-group">
        <label class="control-label" for="newPassword">New Password</label>
        <input id="newPassword" type="password" maxlength="25" class="form-control"
               length="40" [(ngModel)]="password" [ngModelOptions]="{standalone: true}">
    </div>
    <div class="form-group">
        <button (click)="onNext()" id="signupSubmit" type="submit" class="btn btn-info btn-block">
            Reset Password
        </button>
    </div>

    <hr>
    <p><a [routerLink]="['/home/resendCode']"> <i class="fa fa-fw fa-group"></i> Go back</a>
    </p>
</form> 
-->
