<!-- <span class="auth-ready-component">
  <span class="auth-ready-chip">
    <mat-chip color="accent" [selected]="isAuthReady">{{ chipLabel }}</mat-chip>
  </span>
  <span class="auth-ready-button">
    <button mat-raised-button color="primary" [disabled]="isAuthReady" (click)="loadAuthConfig()">{{ buttonLabel }}</button>
  </span>
</span> -->

<mat-chip-list>
  <mat-chip color="accent" [selected]="isAuthReady">{{ chipLabel }}</mat-chip>
  <button mat-icon-button color="primary" [disabled]="isAuthReady" (click)="loadAuthConfig()">
    <mat-icon>whatshot</mat-icon>
  </button>
</mat-chip-list>
