<form [formGroup]="registerForm" (ngSubmit)="onSubmit()" >
    <div class="form-group">
        <mat-form-field>
            <input matInput formControlName="name" placeholder="Name">
            <mat-icon color="warn" class="form-warning-icon" [matTooltip]="errorTips['name']" *ngIf="registerForm.controls['name'].touched && !registerForm.controls['name'].valid">error_outline</mat-icon>
        </mat-form-field>
        <mat-form-field>
            <input matInput formControlName="email" placeholder="Email">
            <mat-icon color="warn" class="form-warning-icon" [matTooltip]="errorTips['email']" *ngIf="registerForm.controls['email'].touched && !registerForm.controls['email'].valid">error_outline</mat-icon>
        </mat-form-field>
        <mat-form-field>
            <input type="password" matInput formControlName="password" placeholder="Password">
            <mat-icon color="warn" class="form-warning-icon" [matTooltip]="errorTips['password']" *ngIf="registerForm.controls['password'].touched && !registerForm.controls['password'].valid">error_outline</mat-icon>
        </mat-form-field>
    </div>

    <div class="form-button-row">
        <button mat-raised-button matStepperNext type="submit" color="primary" [disabled]="registerForm.pristine || !registerForm.valid">Register</button>
        <!-- <button mat-raised-button type="reset" [disabled]="registerForm.pristine" (click)="revert()">Reset</button> -->
        <button mat-raised-button type="reset" (click)="cancel()">Cancel</button>
    </div>
</form>



<!-- 
<form class="form-signin" method="POST" action="#" role="form">
    <div class="form-group">
        <h2>Create account</h2>
    </div>
    <div *ngIf="errorMessage!=null" class="alert alert-danger">
        {{ errorMessage }}
    </div>
    <div class="form-group">
        <label class="control-label" for="signupName">Name</label>
        <input id="signupName" type="text" maxlength="50" class="form-control"
               [(ngModel)]="registrationUser.name" [ngModelOptions]="{standalone: true}">
    </div>
    <div class="form-group">
        <label class="control-label" for="signupEmail">Email</label>
        <input id="signupEmail" type="email" maxlength="50" class="form-control"
               [(ngModel)]="registrationUser.email" [ngModelOptions]="{standalone: true}">
    </div>
    <div class="form-group">
        <label class="control-label" for="signupPassword">Password</label>
        <input id="signupPassword" type="password" maxlength="25" class="form-control"
               placeholder="at least 8 characters" length="40" [(ngModel)]="registrationUser.password"
               [ngModelOptions]="{standalone: true}">
    </div>
    <div class="form-group">
        <button (click)="onRegister()" id="signupSubmit" type="submit" class="btn btn-info btn-block">
            Create your account
        </button>
    </div>
    <hr>
    <p>Already have an account? <a [routerLink]="['/home/login']"> <i class="fa fa-fw fa-lock"></i>Login</a></p>
</form>
 -->
